<section>
  <p>Buscar por un indicador en específico.</p>
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Selecciona un valor</mat-label>
        <mat-select [(value)]="key">
          <mat-option *ngFor="let i of keys" [value]="i">{{
            i?.toUpperCase()
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="primary"
        [disabled]="key?.length == 0"
        (click)="onSendKey()"
      >
        Buscar
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</section>
<mat-divider *ngIf="isSubmit"></mat-divider>
<section *ngIf="isSubmit">
  <div [chart]="chart"></div>
</section>
